<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">Home</a>
    <a class="navbar-brand" target="_blank" href="https://github.com/kotynskm"
      >About the Developer</a
    >
  </div>
</nav>
<div class="container">
  <h2 class="title">Welcome to the Poke-NGO Pokedex</h2>
  <p>Search for a pokemon by name in the search box below.</p>
  <img src="../assets/img/pokebanner.png" />
</div>
<div class="container">
  <form class="d-flex" role="search">
    <input
      class="form-control me-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
      id="pokeName"
      name="pokeName"
      [(ngModel)]="pokeName"
    />
    <button class="btn btn-outline-success" type="submit" (click)="setValue()">
      Search
    </button>
  </form>
</div>
<div *ngIf="pokemon; else elseBlock">
  <h3>Abilities</h3>
  <app-pokemon-details [pokemon]="pokemon"></app-pokemon-details>
</div>
<ng-template #elseBlock>Please enter a valid Pokemon name</ng-template>
<router-outlet></router-outlet>
<footer class="footer"><h3>&copy; Kailey Kotynski 2023</h3></footer>
